Repository kphrx/nico-zenza: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc -p

.lintstagedrc.json:

{
  "*.{ts,js}": "eslint --fix",
  "*.ts": "tsc -p"
}

ci: concat lint and test jobs
  .github/workflows/ci.yml
Due: none

ci: use built-in functionality for cache and restore
  .github/workflows/ci.yml
Due: none

ci: upload dist to artifact
  .github/workflows/ci.yml
Due: none

ci: rename `rewrite` -> `rewrite/master`
  .github/workflows/ci.yml
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

chore: use `--noEmit` for type check
  .lintstagedrc.json
  package.json
Due: none

fix: cannot resolve paths per files
  .lintstagedrc.json
Due: none

chore: Native ESM
  .mocharc.json
  config/ts-node-loader.js
  package.json
  tsconfig.json
  webpack.config.ts
Due: eslint --fix, tsc -p

fix: named import from webpack
  config/metadata/base-webpack-plugin.ts
Due: eslint --fix, tsc -p

chore: `@typescript-eslint/*` only works for `*.tsx?`
  .eslintrc.json
Due: none

chore: rename root package
  package-lock.json
  package.json
Due: none

chore: cleanup comments of tsconfig.json
  tsconfig.json
Due: none

chore: configure TypeScript Project References
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.json
  README.adoc
  package.json
  tsconfig.build.json
  tsconfig.json
Due: none

chore: root project's build script run workspaces build
  package.json
Due: none

migrate to workspace: MylistPocket
  config/metadata/entrypoints/MylistPocket.ts
  package-lock.json
  package.json
  packages/mylist-pocket/README.md
  packages/mylist-pocket/metadata.yml
  packages/mylist-pocket/package.json
  packages/mylist-pocket/rollup.config.js
  packages/mylist-pocket/src/main.ts
  packages/mylist-pocket/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

migrate to workspace: ZenzaWatch
  config/metadata/entrypoints/ZenzaWatch.ts
  package-lock.json
  package.json
  packages/zenza-watch/README.md
  packages/zenza-watch/metadata.yml
  packages/zenza-watch/package.json
  packages/zenza-watch/rollup.config.js
  packages/zenza-watch/src/main.ts
  packages/zenza-watch/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

migrate to workspace: ZenzaHLS
  config/metadata/entrypoints/ZenzaHLS.ts
  package-lock.json
  package.json
  packages/hls-support/README.md
  packages/hls-support/metadata.yml
  packages/hls-support/package.json
  packages/hls-support/rollup.config.js
  packages/hls-support/src/main.ts
  packages/hls-support/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

migrate to workspace: HeatSync
  config/metadata/entrypoints/HeatSync.ts
  package-lock.json
  package.json
  packages/heat-sync/README.md
  packages/heat-sync/metadata.yml
  packages/heat-sync/package.json
  packages/heat-sync/rollup.config.js
  packages/heat-sync/src/main.ts
  packages/heat-sync/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

migrate to workspace: ZenzaBlogPartsButton
  config/metadata/entrypoints/ZenzaBlogPartsButton.ts
  package-lock.json
  package.json
  packages/blog-parts-button/README.md
  packages/blog-parts-button/metadata.yml
  packages/blog-parts-button/package.json
  packages/blog-parts-button/rollup.config.js
  packages/blog-parts-button/src/main.ts
  packages/blog-parts-button/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

migrate to workspace: CapTube
  config/metadata/entrypoints/CapTube.ts
  package-lock.json
  package.json
  packages/cap-tube/README.md
  packages/cap-tube/metadata.yml
  packages/cap-tube/package.json
  packages/cap-tube/rollup.config.js
  packages/cap-tube/src/main.ts
  packages/cap-tube/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

migrate to workspace: ZenzaAdvancedSettings
  config/metadata/entrypoints/ZenzaAdvancedSettings.ts
  package-lock.json
  package.json
  packages/advanced-settings/README.md
  packages/advanced-settings/metadata.yml
  packages/advanced-settings/package.json
  packages/advanced-settings/rollup.config.js
  packages/advanced-settings/src/main.ts
  packages/advanced-settings/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

migrate to workspace: ZenzaGamePad
  config/metadata/entrypoints/ZenzaGamePad.ts
  package-lock.json
  package.json
  packages/game-pad/README.md
  packages/game-pad/metadata.yml
  packages/game-pad/package.json
  packages/game-pad/rollup.config.js
  packages/game-pad/src/main.ts
  packages/game-pad/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

migrate to workspace: MaskedWatch
  config/metadata/entrypoints/MaskedWatch.ts
  package-lock.json
  package.json
  packages/masked-watch/README.md
  packages/masked-watch/metadata.yml
  packages/masked-watch/package.json
  packages/masked-watch/rollup.config.js
  packages/masked-watch/src/main.ts
  packages/masked-watch/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

migrate to workspace: uQuery
  config/metadata/entrypoints/uQuery.ts
  package-lock.json
  package.json
  packages/uquery/README.md
  packages/uquery/metadata.yml
  packages/uquery/package.json
  packages/uquery/rollup.config.js
  packages/uquery/src/main.ts
  packages/uquery/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

chore: bump version to major alpha
  package-lock.json
  packages/advanced-settings/package.json
  packages/blog-parts-button/package.json
  packages/cap-tube/package.json
  packages/game-pad/package.json
  packages/heat-sync/package.json
  packages/hls-support/package.json
  packages/masked-watch/package.json
  packages/mylist-filter/package.json
  packages/mylist-pocket/package.json
  packages/uquery/package.json
  packages/zenza-watch/package.json
Due: none

chore: remove webpack and dependencies
  .mocharc.json
  README.adoc
  config/metadata/base-webpack-plugin.ts
  config/metadata/entrypoints/index.ts
  config/metadata/index.ts
  config/metadata/package.ts
  config/metadata/types.ts
  config/metadata/util.ts
  config/ts-node-loader.js
  config/webpack.dev.config.ts
  config/webpack.prod.config.ts
  package-lock.json
  package.json
  webpack.config.ts
Due: eslint --fix, tsc -p

migrate to workspace: MylistFilter
  config/metadata/entrypoints/MylistFilter.ts
  package-lock.json
  package.json
  packages/mylist-filter/README.md
  packages/mylist-filter/metadata.yml
  packages/mylist-filter/package.json
  packages/mylist-filter/rollup.config.js
  packages/mylist-filter/src/main.ts
  packages/mylist-filter/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

chore: set ecmaVersion to latest
  .eslintrc.json
Due: none

style: formatter uses prettier instead eslint fix
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: none

style: lint by prettier
  .github/workflows/ci.yml
  .mocharc.json
  packages/advanced-settings/README.md
  packages/advanced-settings/metadata.yml
  packages/advanced-settings/rollup.config.js
  packages/blog-parts-button/README.md
  packages/blog-parts-button/metadata.yml
  packages/blog-parts-button/rollup.config.js
  packages/cap-tube/README.md
  packages/cap-tube/rollup.config.js
  packages/game-pad/README.md
  packages/game-pad/metadata.yml
  packages/game-pad/rollup.config.js
  packages/heat-sync/README.md
  packages/heat-sync/metadata.yml
  packages/heat-sync/rollup.config.js
  packages/hls-support/README.md
  packages/hls-support/metadata.yml
  packages/hls-support/rollup.config.js
  packages/masked-watch/README.md
  packages/masked-watch/metadata.yml
  packages/masked-watch/rollup.config.js
  packages/mylist-filter/README.md
  packages/mylist-filter/metadata.yml
  packages/mylist-filter/rollup.config.js
  packages/mylist-pocket/README.md
  packages/mylist-pocket/metadata.yml
  packages/mylist-pocket/rollup.config.js
  packages/uquery/README.md
  packages/uquery/metadata.yml
  packages/uquery/rollup.config.js
  packages/zenza-watch/README.md
  packages/zenza-watch/metadata.yml
  packages/zenza-watch/rollup.config.js
  tsconfig.json
Due: eslint --fix

chore: lint-staged config use js instead of json
  .lintstagedrc.js
  .lintstagedrc.json
Due: eslint --fix

rename branch `{rewrite/ -> }master`
  .github/workflows/ci.yml
Due: none

chore: create api-wrapper pacakge
  .lintstagedrc.js
  package-lock.json
  package.json
  packages/api-wrapper/package.json
  packages/api-wrapper/src/index.ts
  packages/api-wrapper/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, tsc -p

fix(lint-staged): tsc build and clean command
  .lintstagedrc.js
Due: eslint --fix

lint: use .gitignore rule for eslint and prettier
  .eslintignore
  .lintstagedrc.js
  package.json
Due: eslint --fix

feat(zenza-watch): CommonHeader parser
  packages/zenza-watch/src/common-header.ts
  tsconfig.json
Due: eslint --fix, tsc -p

feat(zenza-watch): `#js-initial-*-data` parser
  packages/zenza-watch/src/initial-data/error.ts
  packages/zenza-watch/src/initial-data/index.ts
  packages/zenza-watch/src/initial-data/top-page-data.ts
  packages/zenza-watch/src/initial-data/userpage-data.ts
  packages/zenza-watch/src/initial-data/watch-data.ts
Due: eslint --fix, tsc -p

chore: change to new repository url
  package.json
  packages/advanced-settings/package.json
  packages/blog-parts-button/package.json
  packages/cap-tube/package.json
  packages/game-pad/package.json
  packages/heat-sync/package.json
  packages/hls-support/package.json
  packages/masked-watch/package.json
  packages/mylist-filter/package.json
  packages/mylist-pocket/package.json
  packages/uquery/package.json
  packages/zenza-watch/package.json
Due: none

chore: bump dependencies
  package-lock.json
Due: none

chore: split test script workspaces
  package.json
  packages/advanced-settings/package.json
  packages/blog-parts-button/package.json
  packages/cap-tube/package.json
  packages/game-pad/package.json
  packages/heat-sync/package.json
  packages/hls-support/package.json
  packages/masked-watch/package.json
  packages/mylist-filter/package.json
  packages/mylist-pocket/package.json
  packages/uquery/package.json
  packages/zenza-watch/package.json
  test/dummy.ts
Due: eslint --fix, tsc -p
